@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(1, minmax(115px, auto)) / repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,375px);
            column-gap: 80px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,minmax(270px,auto));
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 450px);
            grid-auto-rows: 70px;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        &__works { 
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            &-item {
                &_vertical, &_horizontal {
                    grid-row: unset;
                    grid-column: unset;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .price {
        &-list {
            column-gap: 200px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 500px 500px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
        &__photo {
            img {
                height: 100%;
                object-fit: cover;
            }
            
        }
    }
}
@media (max-width: 992px) {
    .promo {
        background: url('../../img/Background-mid.jpg') center (center/cover) no-repeat;
    }
    .container {
        max-width: 720px;
    }
    .about {
        &__title{
            text-align: center;
            padding-left: 0;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle {
            text-align: center;
        }
        .divider {
            margin: 10px auto;
        }
        &__wrapper {
            grid-template: 580px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
            text-align: center;
            img {
                height: 100%;
            }
        }
        &__skills {
            column-gap: 20px;
            justify-content: center;
            grid-template: repeat(1,minmax(120px,auto))/repeat(2,260px);
            &-item {
                grid-template-columns: 40px 190px;
            }
        }
    }
    .resume {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2,minmax(270px,auto));
        }
        &__ratings {
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,1fr);
        }
    }
    .portfolio {
        padding-top: 100px;
    }
    .price {
        &-list {
            grid-template-columns: repeat(auto-fit, 370px);
            row-gap: 20px;
        }
    }
    .contacts {
        padding: 100px;
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
        &__descr {
            padding-top: 65px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_font-size-48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        &__title{
            text-align: center;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle {
            text-align: center;
        }
        .divider {
            margin: 10px auto;
        }
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
            text-align: center;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(1,minmax(120px,auto))/repeat(2,260px);
            &-item {
                grid-template-columns: 40px 190px;
            }
        }
    }
    .portfolio {
        &__works { 
            grid-template: repeat(auto-fit, 260px) / repeat(auto-fit, 260px);
            grid-auto-rows: 260px;
        }
    }
    .contacts {
        padding: 100px 0 100px 0;
        &__title{
            padding: 0;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
        &__descr {
            text-align: center;
            padding-top: 65px;
            padding: 0;
            .divider {
                margin: 10px auto;
            }
        }
        &__social {
            display: flex;
            justify-content: center;
            gap: 25px;
            a {
                margin: 0;
            }
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .divider {
        margin-top: 15px;
    }
    .title {
        &_font-size-48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/Background-mid.jpg') center (center/cover) no-repeat;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        padding-top: 40px;
        &__subtitle {
            font-size: 26px;
        }
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            column-gap: 20px;
            grid-template-columns: 1fr;
            &-item {
                grid-template-columns: 40px 240px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__subtitle {
            font-size: 24px;
            margin-top: 20px;
        }
        &__wrapper {
            padding: 0;
            margin-top: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__subtitle {
            font-size: 24px;
            margin-top: 20px;
        }
        &__wrapper {
            margin: 20px 25px 0 25px;
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: 1fr;
            margin-top: 40px;
            gap: 48px;
        }
    }
    .portfolio {
        padding-top: 40px;
        &__subtitle {
            font-size: 24px;
            margin-top: 20px;
        }
        &__works { 
            margin-top: 40px;
        }
    }
    .price {
        padding-top: 40px;
        &-list {
            margin-top: 20px;
            grid-template: repeat(auto-fit, 60px) / repeat(auto-fit, 300px);
            row-gap: 20px;
        }
    }
    .contacts {
        padding-bottom: 80px;
        &__title{
            padding: 0;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle {
            font-size: 24px;
            margin-top: 20px;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__pocily {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
        &__descr {
            text-align: center;
            padding: 0;
            .divider {
                margin: 10px auto;
            }
        }
        &__social {
            display: flex;
            justify-content: center;
            gap: 25px;
            a {
                margin: 0;
            }
        }
    }
}
@media (max-width: 320px) { 
    .promo {
        background: url('../../img/Background-mini.png') center (center/cover) no-repeat;
    }
    .about {
        &__photo {
            img {
                height: 90%;
                width: 100%;
            }
        }
    }
}